* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}       

body {
    background-color: #F5F8FA;
}
/* parte header */
/*titolo fisso*/
.titolofix {
    height: 70px;
    border: 1px solid black;
    width: 100%;
    position: fixed;
    background-color: lightgray;
    top: 0;
    left: 0;
}

.menufix {
    width: 25%;
    float: right;
    height: 50px;
    margin: 15px;
}

.button {
    border-radius: 5%;
    border:1px solid orange;
    padding:10px;
    color: orange;
    background-color: white;
    margin-left: 10px;
}

.special {
    color: white;
    background-color: orange;
}

/*header + background*/

header {
    height: 678px;
    border-bottom: 3px solid gray;
}

.titolohead {
    height: 75px;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}

.colhead {
    width: 50%;
    float: left;
}

.titolohead ul li {
    display: inline-block;
    padding: 25px 25px;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: inherit;
}

li a:hover {
    color: blue;
    text-decoration: underline;
}

.head {
    height: 600px;
    background-image: url(img/background.png);
    background-size: cover;
}

.titolo {
    width: 30%;
    height: 400px;
    padding: left;
    margin-left: 150px;
    color: white;
}

.titolo h1 {
    font-size: 60px;
    padding-top: 100px;
}

.pwhite {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titolo button {
    padding: 20px 35px;
    border-radius: 5%;
    background-color: white;
}

.finetitolo {
    font-size: 13px;
    padding-top: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* parte section */

section {
    height: 800px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

/* sezione a una colonna */

.box_uno {
    height: 725px;
}

.contimg {
    width: 30%;
    margin: 0 auto;
    height: 230px;
    margin-top: 80px;
    text-align: center;
}

.contimg img {
    width: 300px;
    height: 220px;
}

.box_uno h2 {
    color: #546676;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.box_unotext {
    font-size: 18px;
    color: #546676;
    text-align: center;
}

.box_due {
    width: 80%;
    height: 280px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-radius: 2%;
}

.box_duesx {
    width: 40%;
    height: 100%;
    text-align: center;
    float: left;
}

.box_duedx {
    width: 60%;
    height: 100%;
    float: left;
}

.box_duesx img {
    width: 180px;
    height: 180px;
}

.buttonbox_due {
    margin-top: 10px;
}

.box_duedx h3 {
    font-size: 25px;
    color: #546676;
    margin-top: 30px;
}

.box_duedxtext {
    color: #546676;
    margin-top: 10px;
    margin-bottom: 35px;
}

.box_duedxtextdue hr{
    margin-top: -10px;
    float: right;
    width: 350px;
    margin-right: 50px;
    opacity: 0.3;
}

.listabox_due ul li {
    display: inline-block;
    padding: 20px;
}

/* lista box 2 e box 3 */

.listabox_due ul li::before {
    content: '';
    background: url(img/iconok.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}

/* Sezione a tre colonne */



.contbox_tre {
    margin: auto;
    height: 650px;
    width: 67%;
}

.box_tre {
    height: 550px;
    width: 29.4%;
    float: left;
    background-color: white;
    margin: 19px;
    border-radius: 2%;
    
}

.box_trehead {
    text-align: center;
}

.box_trehead img{
    width: 180px;
    height: 180px;
    margin-top: 10px;
}

.h3special {
    color: #546676;
    font-size: 25px;
    margin-top: 10px;
}

.box_trefoot {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: #546676;
}

.box_trefoot hr {
    margin-top: 20px;
    opacity: 0.3;
}

.h5special {
    color: #546676;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.listabox_tre ul li {
    list-style: none;
    margin: 5px;
}

.listabox_tre ul li::before {
    content: '';
    background: url(img/iconok.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}

.listabox_tre button {
    margin-left: 30%;
    margin-top: 20px;
}

/* Sezione a 8 box */ 

.box_eight {
    background-color: #00B4AE;
    width: 100%;
    height: 950px;
    color: white;
}

.box_eighthead {
    width: 50%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 150px;
}

.box_eighthead h2 {
    font-size: 35px;
}

.box_eighthead p {
    margin-top: 20px;
    font-size: 20px;
}

.box_eightfoot {
    width: 80%;
    height: 225px;
    margin: 0 auto;
    text-align: center;
}

.box_eightfoot_up {
    height: 100%;
    width: calc(100%/4);
    float: left;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.box_eightfoot_down {
    height: 100%;
    width: calc(100%/4);
    float: left;
    border-right: 1px solid white;
}

.box_eightfoot img {
    margin-top: 50px;
}

.box_eightfootspan {
    font-size: 40px;
    margin-top: 10px;

}

.box_eight span {
    display: inline-block;
}

/* ultimo figlio di box_eightfoot per togliere bordo bianco */

.box_eightfoot :last-child {
    border-right: none;
}

/*--------------------------------------------------*/